*{
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
.main__navbar{
	border-bottom:  5px solid black;
	width: 100%;
	height: 35px;
}
.main__navbar ul{
	padding-top: 8px;
	list-style: none; 
  	margin: 0;
  	padding-left: 0; 
}
.main__navbar ul > li{
	display: inline;
}
.main__navbar ul > li:last-child a{
	border-right: none;
}
.main__navbar a{
	/*color: black;*/
	border-right: 2px solid black;
	padding: 5px 10px;
}
.main__section{
	width: 100%;
	height: 500px;
}
.left__navbar{
	width: 300px;
	height: 500px;
	overflow-y: scroll;
	border: 1px solid black;
	float: left;
	/*clear: both;*/
}
.left__navbar ul{
	list-style: none;
	padding: 10px;
}
.left__navbar a{
	color: black;
	text-decoration: none;
}
.left__navbar a:before{
	content: '\2655';
}
.icon{
	content: '\2744'
}
.left__navbar a:hover{
	text-decoration: underline;
}
.left__navbar__sub{
	padding-left: 10px;
	display: none;
}
.left__navbar__sub2{
	padding-left: 10px;
	display: none;
}
.left__navbar  ul  li:hover > ul.left__navbar__sub{
	display : block;
}
.left__navbar  ul > li > ul.left__navbar__sub > li:hover > ul.left__navbar__sub2{
	display: block;
}
.section{
	float: left;
	width: calc(100% - 302px);
	height: 200px;
}
.bread__navbar{
	height: 35px;
	border: 1px solid black;
}
.bread__navbar ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-top: 5px;
}
.bread__navbar ul li{
	display: inline;
}
.bread__navbar a{
	padding: 10px;
}
.bread__navbar li:after{
	content: '▶'
}
.bread__navbar li:last-child:after{
	content: none;
}
.current{
	text-decoration: none;
	color: black;
}
.gallery{
	border: 1px solid black;
	width: 100%;
	/*height: 200px;*/
	overflow-y: scroll; 
	display: flex;
	/*align-items: center;*/
	flex-wrap: wrap;
}
.gallery__element{
	height: 250px;
	width: 250px;
	padding:20px;
	text-align: center;
}
/*.gallery img{
	width: 250px;
	height: 250px;
}*/